
@{
    ViewBag.Title = "InicioPagoProveedor";
    Layout = "~/Views/Shared/_Layout_PagoProveedor.cshtml";
}
<center>
    <h3><p style="color:dodgerblue"><strong>Pago a Proveedores</strong></p></h3>
    <h4><p><strong>Bienvenida Ariadna Joselinne Roque Gutiérrez</strong></p></h4>
</center>

<br/>

<div class="container">
    <div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->


            <div class="item">
                <img src="~/Estilos/images/pagos.jpg" alt="Los Angeles" style="width:100%;">
                <div class="carousel-caption">
                    <h1><p style="color: black">ATENCIÓN</p></h1>
                    <h3><p style="color:black">Favor de revisar los pagos pendientes de autorización y generar las órdenes de pago</p></h3>
                </div>
            </div>
        </div>
    </div>
</div>